$bg-color: #8c8c8c;
$fg-color: #0D0009;
$fg-accent-color: #cacaca;
$card-bg-color: #ffb3cb;
$details-bg-color: #ff7da6;

$font-size: 1.17em;
$top-text-size: 4vh;
$font: sans-serif;
$top-size: $top-text-size + 4vh;
